# Bỏ qua thư mục ảo và cache python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Bỏ qua dataset (Không up ảnh nặng lên git)
archive/
QRCode/
output_qr1/

# Bỏ qua các file hệ thống
.DS_Store

# Bỏ qua môi trường ảo 
venv/
env/
.env